body {
    background-color: rgb(241, 240, 240);
    overflow:hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outerCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    
}

.flags {
    width: 70%;
    height: 95%;
    background-color: rgb(202, 243, 243);
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
}

.flag {
    width: 20%;
    height: 10rem;  
    overflow: hidden;
    border: 1px solid #031424;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flagDetails {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #031424;
    color: rgb(241, 240, 240);
    border: 1px solid rgb(241, 240, 240);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s linear;
}

.flag:hover .flagDetails {
    top: 0;
    cursor: pointer;
}

.flagImg {
    width: 100%;
    height: 100%;
}

.info {
    width: 25%;
    height: 95%;
    background-color: rgb(202, 243, 243);
    border: 1px solid #031424;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;

}

.infoTitleCont {
    width: 80%;
    height: 15%;
    background-color: #031424;
    border: 3px solid rgb(241, 240, 240);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.infoTitle {
    color: rgb(241, 240, 240);
}

.infoDataCont {
    width: 80%;
    height: 40%;
    background-color: rgb(241, 240, 240);
    border: 1px solid #031424;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #031424;
    font-weight: 700;  
}

.infoDataContActive {
    top: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(202, 243, 243);
    color: #031424;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: 700;
    flex-flow: column nowrap;

}
.infoDataEnd {
    margin: 10px;
    width: 100%;
    height: 100%;
    background-color: #031424;
    border: 3px solid rgb(241, 240, 240);
    color: rgb(241, 240, 240);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    font-weight: 300;
    flex-flow: column wrap;
    box-sizing: border-box;

}

.infoLoading {
    width: 0%;
    height: 100%;
}

.loadingForTheCont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingImg {
    width: 60%;
}

.button {
    margin: 10px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    background-color: rgb(241, 240, 240);
    color: #031424;
    border: 1px solid #031424;
    border-radius: 1rem;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s linear;
    outline: none !important;
}

button:hover {
    background-color: #031424;
    color:  rgb(241, 240, 240) ;
    border: 3px solid rgb(241, 240, 240);
}

p {
    color: #031424;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}
.overlay{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    top: 100%;
    left: 0;
    z-index: 10;
    transition: 0.2s ease-in;
}
.headOfOverlay{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:  0 5rem;
}
.cross{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.cross span{
    background-color: white;
    width: 90%;
    height: 1rem;
}
.cross span:nth-child(1){
    transform: rotate(45deg)translate(0.85rem, 1rem);
}
.cross span:nth-child(2){
    transform: rotate(-45deg)translate(0.5em, -0.5rem);
}
.bodyOfOverlay{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.DataDiv{
    color: white;
    border: 0.125rem solid white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
}
